<div>
	
		<%= form_for(:student_form, :url=>{:action=>'create'}) do |f| %>
			<table>
				<tr>
					<th><%= f.label(:s_name,"Name")%></th>
					<td><%= f.text_field(:s_name)%></td>
				</tr>
				<tr>
					<th><%= f.label(:batch)%></th>
					<td><%= f.text_field(:batch)%></td>
				</tr>
				<tr>
					<th><%= f.label(:roll_no)%></th>
					<td><%= f.text_field(:roll_no)%></td>
				</tr>
				<tr>
					<th><%= f.label(:branch)%></th>
					<td><%= f.radio_button(:branch,'CSE')%>CSE</td>
					<td><%= f.radio_button(:branch,'CCE')%>CCE</td>
					<td><%= f.radio_button(:branch,'ECE')%>ECE</td>
					<td><%= f.radio_button(:branch,'MME')%>MME</td>
					<td><%= f.radio_button(:branch,'ME')%>ME</td>
				</tr>
				<tr>
					<th><%= f.label(:gender)%></th>
					<td><%= f.radio_button(:gender,'Male')%>Male</td>
					<td><%= f.radio_button(:gender,'Female')%>Female</td>
				</tr>

				 <tr>
					<th><%= f.label(:date_of_birth,"Date of Birth")%></th>
					<td><%= f.date_select(:date_of_birth,:start_year=>1993,:end_year=>2000,:order=>[:day,:month,:year])%></td>
				</tr> 
				
				<tr>
					<th><%= f.label(:contact_no_1,"Contact Number")%></th>
					<td><%= f.text_field(:contact_no_1)%></td>
				</tr>

				<tr>
					<th><%= f.label(:contact_no_1,"Contact Number")%></th>
					<td><%= f.text_field(:contact_no_1)%></td>
				</tr>

				<tr>
					<th><%= f.label(:contact_no_2,"Contact Number")%></th>
					<td><%= f.text_field(:contact_no_2)%></td>
				</tr>

				<tr>
					<th><%= f.label(:email,"E-Mail")%></th>
					<td><%= f.text_field(:email)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_1,"SPI(1st sem)")%></th>
					<td><%= f.text_field(:spi_1)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_2,"SPI(2nd sem)")%></th>
					<td><%= f.text_field(:spi_2)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_3,"SPI(3rd sem)")%></th>
					<td><%= f.text_field(:spi_3)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_4,"SPI(4th sem)")%></th>
					<td><%= f.text_field(:spi_4)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_5,"SPI(5th sem)")%></th>
					<td><%= f.text_field(:spi_5)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_6,"SPI(6th sem)")%></th>
					<td><%= f.text_field(:spi_6)%></td>
				</tr>

				<tr>
					<th><%= f.label(:spi_7,"SPI(7th sem)")%></th>
					<td><%= f.text_field(:spi_7)%></td>
				</tr>
				
				<tr>
					<th><%= f.label(:cpi_6,"CPI(Till 6th sem)")%></th>
					<td><%= f.text_field(:cpi_6)%></td>
				</tr>
				
				<tr>
					<th><%= f.label(:cpi_7,"CPI(Till 7th sem)")%></th>
					<td><%= f.text_field(:cpi_7)%></td>
				</tr>

				<tr>
					<th><%= f.label(:percent_10,"10th Percentage")%></th>
					<td><%= f.text_field(:percent_10)%></td>
				</tr>

				<tr>
					<th><%= f.label(:percent_12,"12th Percentage")%></th>
					<td><%= f.text_field(:percent_12)%></td>
				</tr>
			</table>
		<%end%>
	
</div>