<div>
	<%= form_for(:student,:url=>{:action=>'update',:id=>@student.id}) do |f|%>
		<table>
			<tr>
				<th><%= f.label(:s_name,"Name")%></th>
				<td><%= f.text_field(:s_name)%></td>
			</tr>
			<tr>
				<th><%= f.label(:email,"E-Mail")%></th>
				<td><%= f.text_field(:email)%></td>
			</tr>
			<%= render(:partial=>'formStudent',:locals=>{:f=>f})%>
		</table>
		<%=submit_tag("Edit")%>
	<%end%>
</div>
