<div>
	<%= errors(@student)%>
		<%= form_for(:student, :url=>{:action=>'create'}) do |f| %>
			<table>
				<%if (current_user.category == "Student")%>
				<tr>
					<th><%= f.label(:s_name,"Name")%></th>
					<td><%= current_user.name%></td>
				</tr>
				<tr>
					<th><%= f.label(:email,"E-Mail")%></th>
					<td><%= current_user.email%></td>
				</tr>
				<%else%>
				<tr>
					<th><%= f.label(:s_name,"Name")%></th>
					<td><%= f.text_field(:s_name)%></td>
				</tr>
				<tr>
					<th><%= f.label(:email,"E-Mail")%></th>
					<td><%= f.text_field(:email)%></td>
				</tr>
				<% end%>

				<%= render(:partial=>'formStudent',:locals=>{:f=>f}) %>

			</table>

			<%= submit_tag("Register") %>
		<%end%>

</div>
