<div>

	<table>
		<tr>
			<td>Name:<%= @student.s_name%></td>
		</tr>
		<tr>
			<td>Roll No.:<%= @student.roll_no%></td>
		</tr>
		<tr>
			<td>Branch:<%= @student.branch%></td>
		</tr>
		<tr>
			<td>Gender:<%= @student.gender%></td>
		</tr>
		<tr>
			<td>Date of Birth:<%= @student.date_of_birth%></td>
		</tr>
		<tr>
			<td>Contact No.:<%= @student.contact_no_1%></td>
		</tr>
		<tr>
			<td>Contact No:<%= @student.contact_no_2%></td>
		</tr>
		<tr>
			<td>E-mail:<%= @student.email%></td>
		</tr>
		<tr>
			<td>SPI(1st Sem):<%= @student.spi_1%></td>
		</tr>
		<tr>
			<td>SPI(2nd Sem):<%= @student.spi_2%></td>
		</tr>
		<tr>
			<td>SPI(3rd Sem):<%= @student.spi_3%></td>
		</tr>
		<tr>
			<td>SPI(4th Sem):<%= @student.spi_4%></td>
		</tr>
		<tr>
			<td>SPI(5th Sem):<%= @student.spi_5%></td>
		</tr>
		<tr>
			<td>SPI(6th Sem):<%= @student.spi_7%></td>
		</tr>
		<tr>
			<td>SPI(7th Sem):<%= @student.spi_7%></td>
		</tr>
		<tr>
			<td>CPI(6th Sem):<%= @student.cpi_6%></td>
		</tr>
		<tr>
			<td>CPI(7th Sem):<%= @student.cpi_7%></td>
		</tr>
		<tr>
			<td>10th percentage:<%= @student.percent_10%></td>
		</tr>
		<tr>
			<td>12th percentage:<%= @student.percent_12%></td>
		</tr>
		<tr>
			<td>Download resume:<td><%= link_to "Download Resume", @student.resume_url %></td>
		</tr>

	</table>
</div>
