<h2>Company Drive</h2>

<%= link_to("Add new company", {:action => 'new'}) %>

<%= pluralize(@c.size, 'Company') %> found</div>
<table>
  <tr>
    <th>CIN</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Student Placed</th>
  </tr>
  <% @c.each do |t| %>
  <tr>
    <td><%= t.company.cin %></td>
    <td><%= t.company.c_name %></td>
    <td><%= t.start_date %></td>
    <td><%= t.end_date %></td>
    <td><%= t.no_placed_students %></td>
    <td>
      <%= link_to("Show", {:action => 'show', :id => t.id}) %>
      <%= link_to("Edit", {:action => 'edit', :id => t.id}) %>
      <%= link_to("Delete", {:action => 'delete', :id => t.id}) %>
    </td>
  </tr>
  <% end %>
</table>
