  <h2>Company</h2>
  <%= flash[:alert]%>
  <% if(can? :create,@company) %>
  <%= link_to("Add new company", {:action => 'new'}) %>
  <% end%>
  <%= link_to("Show", {:action => 'enter_no_show'}) %>
  <% if(can? :manage,t)%>
  <%= link_to("Edit", {:action => 'enter_no_edit'}) %>
  <%= link_to("Delete", {:action => 'enter_no_delete'}) %><br>
  <%= link_to("Add Students Placed", {:action => 'enter_no_placed',:controller=>'student_placeds'}) %>
  <% end %>

  <%= pluralize(@company.size, 'company') %> found</div>
  <table>
    <tr>
      <th>CIN</th>
      <th>Name</th>
      <th>Category</th>
      <th>Batch</th>
      <th>CPI-Criteria</th>
      <th>Backlogs</th>
      <th>Skills Set</th>
      <th>Actions</th>
    </tr>
    <% @company.each do |t| %>
    <tr>
      <td><%= t.cin %></td>
      <td><%= t.c_name %></td>
      <td><%= t.category %></td>
      <td><%= t.batch%></td>
      <td><%= t.cpiCriteria %></td>
      <td><%= t.c_backlogs%></td>
      <td><%= t.skills_set%></td>
      <td>
        <% if(can? :manage,t)%>
          <%= link_to("Show", {:action => 'show', :id => t.id}) %>
          <%= link_to("Edit", {:action => 'edit', :id => t.id}) %>
          <%= link_to("Delete", {:action => 'delete', :id => t.id}) %>
        <% end%>
      </td>
    </tr>
    <% end %>
  </table>
